{% extends "ledger/base.html" %}
{% block page_title %}{{ object.name }}{% endblock %}
{% block content %}
<p>By: {{ object.author.name }}</p>
<ul>
  {% for ingredient in object.ingredients.all %}
  <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
  {% endfor %}
</ul>

<h3>Images</h3>
{% for image in object.images.all %}
<div>
  <img src="{{ image.image.url }}" alt="{{ image.description }}">
  <p>{{ image.description }}</p>
</div>
{% endfor %}

<a href="{% url 'recipe-add-image' pk=object.pk %}">Upload Image</a>
{% endblock %}
